@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #121c21;
  --bgColorDark: #0e161a;
  --bgColorLight: #19272e;
  --bgColorSuperLight: #374151;
  --textColor: #b9c4ca;
  --textColorDark: #5a6a73;
  --main: #1677ff;
}

td.antd-table-cell {
  border-bottom: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
